#root {
  height: 100%;
  width: 100%;
}
#root > .layout-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.layout-aside {
  width: 224px;
  background: #404040;
  position: absolute;
  overflow: visible;
  padding-bottom: 24px;
  padding-top: 50px;
  height: 100%;
  top: 0;
  z-index: 2;
  transition: all 0.3s ease;
}
.layout-aside > .ant-menu {
  margin-bottom: 20px;
}
.layout-aside > .ant-menu > .ant-menu-item {
  margin: 16px 0;
}
.layout-aside > .ant-menu > .ant-menu-item .nav-text {
  vertical-align: baseline;
  display: inline-block;
}
.layout-aside > .ant-menu > .ant-menu-item .anticon {
  transition: font-size 0.3s;
}
.layout-aside .layout-logo {
  width: 150px;
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px 24px 16px 28px;
  transition: all 0.3s ease;
}
.layout-aside.layout-aside-collapse {
  width: 64px;
  transition: all 0.3s ease;
}
.layout-aside.layout-aside-collapse .layout-logo {
  width: 32px;
  margin: 16px;
  transition: all 0.3s ease;
}
.layout-aside.layout-aside-collapse > .ant-menu > .ant-menu-item {
  transition: all 0s ease;
}
.layout-aside.layout-aside-collapse > .ant-menu > .ant-menu-item:hover {
  background: #2db7f5;
  color: #fff;
  transition: all 0s ease;
}
.layout-aside.layout-aside-collapse > .ant-menu .title-text {
  display: none;
}
.layout-aside.layout-aside-collapse > .ant-menu .ant-menu-submenu-title::after {
  right: 2px;
}
.layout-aside.layout-aside-collapse .ant-aside-action {
  width: 64px;
  transition: all 0.3s ease;
}
.layout-aside.layout-aside-collapse ~ .layout-container {
  margin-left: 64px;
  width: calc(100% - 64px);
  transition: all 0.3s ease;
}
.ant-aside-action {
  height: 42px;
  width: 224px;
  position: absolute;
  bottom: 0;
  background: #656565;
  color: #fff;
  text-align: center;
  line-height: 42px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.layout-header {
  background: #fff;
  height: 50px;
  position: relative;
  z-index: 3;
  border-bottom: 1px solid #e9e9e9;
}
.layout-container {
  margin-left: 224px;
  width: calc(100% - 224px);
  position: absolute;
  z-index: 1;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
}
.layout-container .con-breadcrumb {
  height: 30px;
  box-sizing: border-box;
  padding: 7px 0 0 24px;
}
.layout-container .con-body {
  width: 100%;
  height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto;
}
.layout-container .con-body .main-form {
  padding: 0 30px;
}
.layout-container .con-body.main-list .bd-header {
  padding: 10px 20px;
}
.layout-container .con-body.main-list .bd-content {
  padding: 0 10px 10px;
}
.layout-footer {
  display: none;
}
